@mixin button-style($bg-color, $hover-color, $disabled-color: null) {
  padding: $base-padding $base-padding * 2;
  background-color: $bg-color;
  color: $font-color;
  border: none;
  border-radius: $border-radius-large;
  cursor: pointer;
  transition: background-color $transition-duration ease;

  &:hover {
    background-color: $hover-color;
  }

  @if $disabled-color != null {
    &:disabled {
      background-color: $disabled-color;
      cursor: not-allowed;
    }

    &:disabled:hover {
      background-color: $disabled-color;
    }
  }
}

@mixin container-style($max-width, $padding: $base-padding, $background-color: #f9f9f9) {
  max-width: $max-width;
  margin: 100px auto;
  padding: $padding;
  background-color: $background-color;
  border-radius: $border-radius-large;
  box-shadow: $box-shadow;
  text-align: center;
}